.mirrorButton {
	cursor: pointer;
}

.speedButton {
	cursor: pointer;
}

.postActionButton {
	padding-bottom: 5px;
	padding-top: 7px;
    padding-right: 10px;
}

.postSpeedOptionsContainer {
	text-align: unset;
}

.postSpeedOption {
	display: inline;
	padding-right: 5px;
}

.reelSpeedOptionsContainer {
	text-align: center;
}

.reelSpeedOption {

}

.popover {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 10px;
    z-index: 1000;
}
